*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root,
body,
#root {
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: oklch(8% .02 250deg);
}