.Button {
    user-select: none;
    font-size: inherit;
    display: inline-flex;
    gap: var(--space-2);
    align-items: center;
    justify-content: space-between;
    padding: var(--space-1) var(--space-3);
    cursor: pointer;
    outline: none;
    border: none;
    border-width: var(--border-width-medium);
    border-style: solid;
    border-color: transparent;
    border-radius: var(--radius-xl);
    background-color: transparent;
    transition-property: color, background-color, border-color;
    transition-duration: var(--duration-normal);
    color: var(--color-on-primary);
}

.Button__icon {
    display: inline-flex;
    font-size: 1.5em;
}

.Button__icon:not(:has(svg)) {
    display: none;
}

.Button__text {
    flex-grow: 1;
    text-align: left;
}

.Button:hover {
    background-color: oklch(var(--lightness-b) var(--chroma-5) var(--hue-secondary));
    color: oklch(var(--lightness-2) var(--chroma-4) var(--hue-secondary));
}

.Button:focus-visible {
    border-color: oklch(var(--lightness-c) var(--chroma-4) var(--hue-secondary));
}

.Button:active {
    background-color: oklch(var(--lightness-c) var(--chroma-6) var(--hue-secondary));
    color: oklch(var(--lightness-1) var(--chroma-4) var(--hue-secondary));
    border-color: transparent;
}

.Button:disabled {
    pointer-events: none;
    color: oklch(var(--lightness-6) var(--chroma-4) var(--hue-primary));
}

.Button--TextButton {
    justify-content: center;
}

.Button--StandardButtonReversed {
    flex-direction: row-reverse;
}

.Button--IconButton {
    padding: var(--padding);
    border-radius: .5rem;
}