.Button {
    font-size: 1.2em;
    display: inline-flex;
    column-gap: .2em;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    outline: none;
    border: none;
    --border-width: .1rem;
    border-width: var(--border-width);
    border-style: solid;
    border-color: hsl(from var(--background-color) h s calc(l + 10));
    border-radius: .5em;
    background-color: hsl(from var(--background-color) h s calc(l + 5));
    transition: background-color 250ms, color 250ms ease-out;
    box-shadow: 0 0 2px hsl(0 0 0 / 50%);
}

.Button:hover {
    background-color: hsl(from var(--background-color) h s calc(l + 8));
    color: hsl(from var(--color) h s calc(l - 16));
}

.Button:active {
    background-color: hsl(from var(--background-color) h s calc(l + 3));
    color: hsl(from var(--color) h s calc(l - 24));
}

.Button:disabled {
    pointer-events: none;
    background-color: hsl(from var(--background-color) h s calc(l + 4));
    border-color: hsl(from var(--background-color) h s calc(l + 6));
}

.Button--TextButton {
    padding: .5em .8em;
    justify-content: center;
}

.Button--StandardButton {
    padding: .5em .8em .5em .2em;
}

.Button--StandardButtonReversed {
    flex-direction: row-reverse;
    padding: .5em .2em .5em .8em;
}

.Button--IconButton {
    padding: .5em;
    border-radius: .5rem;
}

.Button__icon {
    /* font-size: 2.2em; */
}

.Button__text {
    
}