.Button {
    user-select: none;
    font-size: inherit;
    display: inline-flex;
    column-gap: .9em;
    align-items: center;
    justify-content: space-between;
    padding: .6em;
    cursor: pointer;
    outline: none;
    border: none;
    --border-width: .1rem;
    border-radius: .5em;
    background-color: transparent;
    transition: background-color 200ms, color 200ms ease-out;
}

.Button__icon {
    display: inline-flex;
    font-size: 1.5em;
}

.Button__icon:not(:has(svg)) {
    display: none;
}

.Button__text {
    flex-grow: 1;
    text-align: left;
}

.Button:hover {
    background-color: hsl(from var(--background-color) h s calc(l + 12) / .5);
    color: hsl(from var(--color) h s calc(l - 16));
}

.Button:active {
    background-color: hsl(from var(--background-color) h s calc(l + 3));
    color: hsl(from var(--color) h s calc(l - 24));
}

.Button:disabled {
    pointer-events: none;
    background-color: hsl(from var(--background-color) h s calc(l + 2));
    color: hsl(from var(--color) h s calc(l - 80));
}

.Button--TextButton {
    justify-content: center;
}

.Button--StandardButtonReversed {
    flex-direction: row-reverse;
}

.Button--IconButton {
    padding: .6em;
    border-radius: .5rem;
}