.Menu {
    --animation-duration: 300ms;
    background-color: hsl(from var(--background-color) h s calc(l + 2));
    border-radius: .5em;
}

.Menu:not(:where(.Menu--debug)) {
    overflow: hidden;
}

.Menu--debug .Screen {
    border-width: 1px;
    border-style: solid;
}

.Menu--debug .Screen--back {
    border-color: hsl(0 100% 60%);
}

.Menu--debug .Screen--current {
    border-color: hsl(227 100% 60%);
}

.Menu--debug .Screen--next {
    border-color: hsl(103, 100%, 60%);
}

.Menu__navigationPaths {
    gap: .4em;
    padding: .4em;
}

.Menu:not(.Menu--debug) :where(.Menu__navigationPaths) {
    display: none;
}

.Menu__screens,
.Menu__wrapper {
    transition-duration: var(--animation-duration);
    transition-timing-function: ease-out;
}

.Menu__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: .4em;
    width: var(--CurrentScreen-width);
    transition-property: width;
}

.Menu__screens {
    position: relative;
    display: flex;
    height: var(--CurrentScreen-height, 0px);
    transition-property: height;
}

.MenuBody {
    padding: .4em;
}

.Menu__builtinList {
    list-style: none;
    display: flex;
    flex-direction: column;
    border-radius: .8em;
    padding: 0 .4em .4em .4em;
}

.Menu__item {
    width: 100%;
}

.Menu__itemButton {
    width: 100%;
    color: hsl(from var(--color) h s calc(l - 8));
}

.Menu__itemButton .Icon {
    font-size: .6em;
}

.Menu__title {
    font-size: .8em;
    padding: .4em 0;
    text-transform: capitalize;
    text-align: center;
    color: hsl(from var(--color) h s calc(l - 40));
    letter-spacing: .05em;
    border-width: .1rem 0;
    border-style: solid;
    border-color: hsl(from var(--background-color) h s calc(l + 8));
}

.Menu__breadcrumbs {
    display: flex;
    flex-direction: column;
    row-gap: .4em;
}

.BackButton:not(:disabled),
.NextButton:not(:disabled) {
    color: hsl(from var(--color) h s calc(l - 35));
    font-weight: bold;
}