.Menu {
    background-color: oklch(from var(--color-primary) var(--lightness-4) var(--chroma-5) h);
    border-radius: var(--radius-lg);
}

.Menu:not(:where(.Menu--debug)) {
    overflow: hidden;
}

.Menu--debug .Screen,
.Menu--debug :where(.Menu__navigationPaths) {
    border-width: var(--border-width-medium);
    border-style: solid;
}

.Menu--debug :where(#BackScreen) {
    border-color: hsl(0 100% 60%);
}

.Menu--debug :where(#CurrentScreen) {
    border-color: hsl(227 100% 60%);
}

.Menu--debug :where(#NextScreen) {
    border-color: hsl(103, 100%, 60%);
}

.Menu__navigationPaths {
    gap: var(--space-2);
    padding: var(--space-2);
    border-color: rgb(255, 255, 113);
    scrollbar-color:
        oklch(from var(--color-primary) var(--lightness-8) var(--chroma-5) h) oklch(from var(--color-primary) var(--lightness-4) var(--chroma-5) h);
}

.Menu:not(.Menu--debug) :where(.Menu__navigationPaths) {
    display: none;
}

.Menu__screens,
.Menu__wrapper {
    transition-duration: var(--duration-normal);
    transition-timing-function: ease-out;
}

.Menu__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: var(--space-2);
    width: var(--CurrentScreen-width);
    transition-property: width;
}

.Menu__screens {
    position: relative;
    display: flex;
    height: var(--CurrentScreen-height, 0px);
    transition-property: height;
}

.MenuBody {
    padding: var(--space-2);
}

.Menu__builtinList {
    list-style: none;
    display: flex;
    flex-direction: column;
    border-radius: var(--radius-lg);
    padding: var(--space-2);
}

.Menu__item {
    width: 100%;
}

.Menu__itemButton {
    width: 100%;
}

.Menu__title {
    padding: var(--space-2);
    border-width: var(--border-width-medium) 0;
    border-style: solid;
    border-color: oklch(var(--lightness-7) var(--chroma-5) var(--hue-secondary) / .5);
    text-align: center;
    font-size: var(--font-size-lg);
    text-transform: capitalize;
    letter-spacing: var(--tracking-wider);
    color: oklch(var(--lightness-c) var(--chroma-6) var(--hue-secondary));
}

.Menu__breadcrumbs {
    display: flex;
    flex-direction: column;
    row-gap: var(--space-2);
}

.PastJourney :where(.Breadcrumb__list) {
    padding-left: 50%;
    flex-direction: row-reverse;
}