.TropicaMenuStack {
    display: flex;
}

.TropicaMenuStack--row {
    flex-direction: row;
}

.TropicaMenuStack--row-reverse {
    flex-direction: row-reverse;
}

.TropicaMenuStack--column {
    flex-direction: column;
}

.TropicaMenuStack--column-reverse {
    flex-direction: column-reverse;
}