.Screen {
    position: absolute;
    top: 0;
    left: 0;
    width: max-content; /* Prevent .Screen from forcing on word wrapping. */
    display: flex;
    flex-direction: column;
    background-color: hsl(from var(--background-color) h s calc(l + 2));
    border-width: .2rem;
    border-style: solid;
    border-radius: .5rem;
    border-color: hsl(from var(--background-color) h s calc(l + 10));
    overflow: hidden; /* .Screen--current should show if and only if direction is set to indicate animation is active. */
    visibility: hidden; 
}

.Navigation--Forward .Screen,
.Navigation--Backward .Screen {
    animation-duration: 400ms;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.Screen--current {
    visibility: visible;
    min-width: max-content;
}

.Navigation--Forward .Screen--current {
    animation-name: SlideInFromRight;
}

.Navigation--Backward .Screen--current {
    animation-name: SlideInFromLeft;
}

.Navigation--Forward .Screen--back {
    visibility: visible;
    animation-name: SlideOutToLeft;
}

.Navigation--Backward .Screen--next {
    visibility: visible;
    animation-name: SlideOutToRight;
}

.Navigation--Backward .Screen--back,
.Navigation--Forward .Screen--next {
    visibility: hidden;
}

@keyframes SlideInFromRight {
    0% {
        translate: calc(1 * var(--width));
    }
    
    100% {
        translate: 0;
    }
}

@keyframes SlideInFromLeft {
    0% {
        translate: calc(-1 * var(--width));
    }
    
    100% {
        translate: 0;
    }
}

@keyframes SlideOutToLeft {
    0% {
        translate: 0;
    }
    
    100% {
        translate: calc(-1 * var(--width));
    }
}

@keyframes SlideOutToRight {
    0% {
        translate: 0;
    }
    
    100% {
        translate: calc(1 * var(--width));
    }
}