.Screen {
    position: absolute;
    top: 0;
    min-width: max-content;
    display: flex;
    flex-direction: column;
    gap: .5em;
    border-width: .2rem;
    overflow: hidden;
}

.Screen__navigation {
    display: flex;
    justify-content: space-between;
    padding: .4em .4em 0 .4em;
    font-size: .7em;
}

.Screen {
    animation-duration: var(--animation-duration);
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.Screen:not(.Navigation--animated .Screen) {
    animation-name: none;
}

.SlideOutToRight {
    animation-name: SlideOutToRight;
}

.SlideInFromRight {
    animation-name: SlideInFromRight;
}

.SlideOutToLeft {
    animation-name: SlideOutToLeft;
}

.SlideInFromLeft {
    animation-name: SlideInFromLeft;
}


@keyframes SlideInFromLeft {
    0% {
        translate: calc(-1 * max(var(--CurrentScreen-width, 0px), var(--BackScreen-width, 0px)));
    }

    100% {
        translate: 0;
    }
}

@keyframes SlideOutToRight {
    0% {
        translate: 0;
    }

    100% {
        translate: calc(1 * max(var(--CurrentScreen-width, 0px), var(--NextScreen-width, 0px)));
    }
}

@keyframes SlideInFromRight {
    0% {
        translate: calc(1 * max(var(--CurrentScreen-width, 0px), var(--BackScreen-width, 0px)));
    }

    100% {
        translate: 0px;
    }
}

@keyframes SlideOutToLeft {
    0% {
        translate: 0px;
    }

    100% {
        translate: calc(-1 * max(var(--CurrentScreen-width, 0px), var(--BackScreen-width, 0px)));
    }
}