.Breadcrumb {
    display: flex;
    flex-direction: column;
    row-gap: .2em;
    border-radius: var(--radius-md);
    overflow: hidden;
    color: var(--color-on-primary);
}

.Breadcrumb__name {
    text-transform: uppercase;
    font-size: var(--font-size-xs);
    opacity: .6;
    padding: var(--space-2);
}

.Breadcrumb__list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: var(--space-1);
    width: 100%;
    overflow-x: scroll;
    flex-direction: row;
    padding: var(--space-1) var(--space-1) var(--space-2) var(--space-1);
    border-radius: var(--radius-md);
}

.Breadcrumb__item {
    flex-shrink: 0;
}

.Breadcrumb__button,
.Breadcrumb__separator {
    display: inline-flex;
    font-size: var(--font-size-xs);
}