.Screen {
    position: absolute;
    top: 0;
    min-width: max-content;
    display: flex;
    flex-direction: column;
    border-width: var(--border-width-medium);
    overflow: hidden;
}

.Screen__quickActions {
    display: flex;
    justify-content: center;
    padding: var(--space-2);
    font-size: var(--font-size-xs);
}

.Screen__navigation {
    padding: var(--space-2);
    align-items: center;
    justify-content: space-between;
    gap: var(--space-6);
}

.Screen {
    animation-duration: var(--duration-slow);
    animation-timing-function: var(--ease-standard);
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.Screen:not(.Navigation--animated .Screen) {
    animation-name: none;
}

.SlideOutToRight {
    animation-name: SlideOutToRight;
}

.SlideInFromRight {
    animation-name: SlideInFromRight;
}

.SlideOutToLeft {
    animation-name: SlideOutToLeft;
}

.SlideInFromLeft {
    animation-name: SlideInFromLeft;
}


@keyframes SlideInFromLeft {
    0% {
        translate: calc(-1 * max(var(--CurrentScreen-width, 0px), var(--BackScreen-width, 0px)));
    }

    100% {
        translate: 0;
    }
}

@keyframes SlideOutToRight {
    0% {
        translate: 0;
    }

    100% {
        translate: calc(1 * max(var(--CurrentScreen-width, 0px), var(--NextScreen-width, 0px)));
    }
}

@keyframes SlideInFromRight {
    0% {
        translate: calc(1 * max(var(--CurrentScreen-width, 0px), var(--BackScreen-width, 0px)));
    }

    100% {
        translate: 0px;
    }
}

@keyframes SlideOutToLeft {
    0% {
        translate: 0px;
    }

    100% {
        translate: calc(-1 * max(var(--CurrentScreen-width, 0px), var(--BackScreen-width, 0px)));
    }
}