.TropicaMenuScreen {
    position: absolute;
    top: 0;
    min-width: max-content;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.Screen__quickActions {
    display: flex;
    justify-content: center;
    padding: 0.5em;
    font-size: 0.75em;
}

.Screen__navigation {
    padding: 0.5em;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}

.TropicaMenuScreen {
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.2, 0, 0, 1);
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.TropicaMenuScreen:not(.Navigation--animated .TropicaMenuScreen) {
    animation-name: none;
}

.SlideOutToRight {
    animation-name: SlideOutToRight;
}

.SlideInFromRight {
    animation-name: SlideInFromRight;
}

.SlideOutToLeft {
    animation-name: SlideOutToLeft;
}

.SlideInFromLeft {
    animation-name: SlideInFromLeft;
}


@keyframes SlideInFromLeft {
    0% {
        translate: calc(-1 * max(var(--CurrentScreen-width, 0px), var(--BackScreen-width, 0px)));
    }

    100% {
        translate: 0;
    }
}

@keyframes SlideOutToRight {
    0% {
        translate: 0;
    }

    100% {
        translate: calc(1 * max(var(--CurrentScreen-width, 0px), var(--NextScreen-width, 0px)));
    }
}

@keyframes SlideInFromRight {
    0% {
        translate: calc(1 * max(var(--CurrentScreen-width, 0px), var(--BackScreen-width, 0px)));
    }

    100% {
        translate: 0px;
    }
}

@keyframes SlideOutToLeft {
    0% {
        translate: 0px;
    }

    100% {
        translate: calc(-1 * max(var(--CurrentScreen-width, 0px), var(--BackScreen-width, 0px)));
    }
}