.Theme {
    /* Layout */
    --space-0: 0;
    --space-1: 0.25em;
    --space-2: 0.5em;
    --space-3: 0.75em;
    --space-4: 1em;
    --space-5: 1.5em;
    --space-6: 2em;
    --space-7: 3em;
    --space-8: 4em;

    /* Typography */
    --tracking-tight: -0.02em;
    --tracking-normal: 0;
    --tracking-wide: 0.02em;
    --tracking-wider: 0.04em;
}