/* WIP: not used yet */
@import "./tokens/font.css";
@import "./tokens/color.css";
@import "./tokens/space.css";
@import "./tokens/border.css";
@import "./tokens/radius.css";
@import "./tokens/shadow.css";
@import "./tokens/motion.css";

.Theme {
  --font-family: system-ui, 'Segoe UI', Roboto, sans-serif;

  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-family: var(--font-family);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: oklch(from var(--color-primary) var(--lightness-1) var(--chroma-2) h);
}