.Breadcrumb {
    display: flex;
    flex-direction: column;
    row-gap: .2em;
    border-radius: .5em;
    overflow: hidden;
}

.Breadcrumb__name {
    text-transform: uppercase;
    font-size: .75em;
    opacity: .6;
    padding: .5em;
}

.Breadcrumb__list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: .25em;
    width: 100%;
    overflow-x: scroll;
    flex-direction: row;
    padding: .25em .25em .5em .25em;
    border-radius: .5em;
}

.Breadcrumb__item {
    flex-shrink: 0;
}

.Breadcrumb__button,
.Breadcrumb__separator {
    display: inline-flex;
    font-size: .75em;
}